<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../Vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 不太会写时，就在脑子里模拟一下成果，将一些数据强制性加上去，然后再写带有指令的循环 -->
        <table border="1">
            <tr>
                <th>姓名</th>
                <th v-for="(value,key,index) in subjects">{{value}}</th>
            </tr>
            <!-- 这里是来得到有几行，从前面的头部就可判断应写在tr标签中 -->
            <tr v-for="(value,key,index) in scores">
                <th>{{value.name}}</th>
                <th v-for="(value,key,index) in value.score">{{value}}</th>
            </tr>
        </table>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            subjects: ["语文", "英语", "数学"],
            scores: [
                { name: "z3", score: [1, 4, 1] },
                { name: "l3", score: [4, 6, 3] },
                { name: "a3", score: [7, 2, 8] },
                { name: "e3", score: [8, 7, 5] },
            ]


        }
    })
</script>

</html>