<template>
        <!-- 由商家信息来判断显示与否 -->
        <div class="goods" v-if="shopInfo">
          <!-- 商家推荐 -->
          <!-- <div class="recommend" v-for="(recommend, index) in shopInfo.recommend" :key="index">
            <p class="recommend-name">{{recommend.name}}</p>
            <div class="recommend-wrap">
              <ul>
                <li v-for="(item,index) in recommend.items" :key="index">
                  <img :src="item.image_path" alt />
                  <div class="recommend-food">
                    <p class="recommend-food-name">{{item.name}}</p>
                    <p class="recommend-food-zm">月售{{item.month_sales}} 好评率{{item.satisfy_rate}}</p>
                  </div>
                  <div class="recommend-food-price">
                    <p>¥{{item.activity.fixed_price}}</p>
                    <CartControll :food="item" />
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
          <div ref="abc">abc</div>
          <!-- 商品分类 -->
          <div class="menuview">
            <!-- 左侧分类列表 -->
            <div class="menu-wrapper" ref="menuScroll">
              <ul>
                <!-- 遍历得到十二项 -->
                <li
                  
                >
                  <img v-if="item.icon_url" :src="item.icon_url" alt />
                  <span>{{item.name}}</span>
                </li>
              </ul>
            </div>
            <!-- 右侧商品内容 -->
            <div class="foods-wrapper" ref="foodScroll">
             
            </div>
          </div>
        </div>
      </template>
      <script>
      import CartControll from "../../components/Shops/CartControll";
      import BScroll from "better-scroll";
      export default {
        name: "Goods",
        data() {
          return {
            // shopInfo: null, //由它判断信息能否显示
            // foodScroll: {}, //左侧滚动对象
            // menuScroll: {}, //右侧滚动对象
            // scrollY: 0, //右侧菜单当前滚动的Y值
            // listHeight: [] //12块区域列表高度
          };
        },
        components: {
          // CartControll
        },
        computed: {
          // 来判断当前滑动获得的位置索引在哪里，是多少
          currentIndex() {
            // for (let i = 0; i < this.listHeight.length; i++) {
            //   // 设置两个高度以便得到每一块区域的高度
            //   let height1 = this.listHeight[i];
            //   let height2 = this.listHeight[i + 1];
      
            //   // 判断那个滑动的位置是否在两个高度之间
            //   if (this.scrollY >= height1 && this.scrollY < height2) {
            //     // 表明位于这个区域里
            //     return i; //返回相关索引
            //   }
            // }
            // return 0;
          }
        },
        created() {
          // this.getData();
        },
        mounted(){
          this.initScroll();
          console.log(this)
            console.log(this.$refs)
        },
        methods: {
          getData() {
            this.$axios("/api/profile/batch_shop").then(res => {
              res.data.recommend.forEach(recommend => {
                //得到recommend中的唯一项
                recommend.items.forEach(item => {
                  //得到items
                  item.count = 0; //仅仅为了遍历出来count来计数
                });
              });
              res.data.menu.forEach(menu => {
                //得到recommend中的唯一项
                menu.foods.forEach(food => {
                  //得到items
                  food.count = 0; //仅仅为了遍历出来count来计数
                });
              });
              this.shopInfo = res.data;
            });
            //   直到DOM元素全部渲染到页面以后，
            this.$nextTick(() => {
              // DOM已经更新,已经准备好，调用initScroll
              // this.initScroll();
      
              // 计算12块区域的高度
              // this.calculateHeight();
            });
          },
      
          // 用来实现左右两侧内容的滚动
          initScroll() {
            console.log("********************************")
            // console.log(this.$refs)
            // console.log(this.$refs.menuScroll)
            // 谁滚动就会new上之后赋给谁
            // this.menuScroll = new BScroll(this.$refs.menuScroll, {
            //   click: true
            // });
            // this.foodScroll = new BScroll(this.$refs.foodScroll, {
            //   click: true
            // });
          }
      
          // 来计算12块区域的高度
          // calculateHeight() {
          //   let foodlist = this.$refs.foodScroll.getElementsByClassName(
          //     "food-list-hook"//得到所有的这个标签，形成数组
          //   );
          //   // 每个区的高度添加到数组中
          //   let height = 0;
          //   this.listHeight.push(height);//推入每个区域块的高度
      
          //   for(let i=0;i<foodlist.length-1;i++){
          //     let item = foodlist[i];
          //     // 遍历之后累加
          //     height +=item.clientHeight;
          //     this.listHeight.push(height);//得到整个大区域的高度
          //   }
          //   // console.log(this.listHeight);
          // },
      
          //   // 实现当右侧内容滚动时，左侧索引会同时发生变化
          //   this.foodScroll.on("scroll", pos => {
          //     // console.log(pos.y);
          //     // 将得到的食物对应位置赋给滚动y轴坐标
          //     this.scrollY = Math.abs(Math.round(pos.y));
          //   });
          // },
      
          // 这是通过点击左侧实现右侧滚动分类索引
          // selectMenu(index) {
          //   // console.log(index);
          //   // 得到食物列表的所有标签，是一个数组
          //   let foodlist = this.$refs.foodScroll.getElementsByClassName(
          //     "food-list-hook"
          //   );
          //   let el = foodlist[index]; //将食物对应位置赋给一个变量
          //   // console.log(el);//当点击对应左边图标时，打印出右边食物滚动到的对应位置
          //   // 滚动到的对应元素所在位置
          //   this.foodScroll.scrollToElement(el, 250);
          // },
        }
      };
      </script>
      
      <style scoped>
      .goods {
        position: relative;
        height: calc(100% - 10.666667vw);
      }
      
      .recommend {
        padding-top: 4.266667vw;
        background-color: #fff;
      }
      .recommend-name {
        padding-left: 4.266667vw;
        color: #333;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 2.666667vw;
      }
      .recommend-wrap {
        overflow-x: scroll;
        display: flex;
        width: 100%;
      }
      .recommend-wrap ul {
        display: flex;
        padding-left: 4.266667vw;
      }
      .recommend-wrap ul li {
        flex: none;
        width: 32vw;
        margin-right: 2.666667vw;
      }
      .recommend-wrap li img {
        display: block;
        width: 32vw;
        height: 32vw;
        border-top-left-radius: 0.8vw;
        border-top-right-radius: 0.8vw;
        max-width: 100%;
      }
      .recommend-food .recommend-food-name {
        color: #333;
        font-size: 0.8rem;
        margin: 1.866667vw 0 1.233333vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .recommend-food .recommend-food-zm {
        color: #999;
        font-size: 0.6rem;
        margin-bottom: 1.866667vw;
        min-height: 1em;
      }
      .recommend-food-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0.266667vw;
      }
      .recommend-food-price p {
        font-size: 1rem;
        color: #ff5339;
      }
      
      ::-webkit-scrollbar {
        width: 0 !important;
      }
      
      .menuview {
        box-sizing: border-box;
        height: 100%;
        padding-bottom: 10.8vw;
        background-color: #fff;
        display: flex;
      }
      .menu-wrapper {
        overflow-y: hidden;
        /* height: 100%; */
        height: calc(100% - 12.8vw);
        background-color: #f8f8f8;
        padding-bottom: 10.666667vw;
        width: 20.533333vw;
      }
      .menu-wrapper li {
        padding: 4.666667vw 2vw;
        font-size: 0.6rem;
        color: #666;
        line-height: 1.2;
      }
      .menu-wrapper li img {
        max-width: 100%;
        width: 3.466667vw;
        height: 3.466667vw;
        vertical-align: top;
        margin-right: 0.8vw;
      }
      
      .foods-wrapper {
        overflow-y: hidden;
        /* height: 100%; */
        height: calc(100% - 12.8vw);
        width: 79.466667vw;
        padding-bottom: 10.666667vw;
      }
      .category-title {
        margin-left: 2.666667vw;
        padding: 2vw 8vw 2vw 0;
        display: flex;
        align-items: center;
        overflow: hidden;
      }
      .category-title strong {
        margin-right: 1.333333vw;
        font-weight: 700;
        font-size: 0.8rem;
        color: #666;
        flex: none;
      }
      .category-title span {
        flex: 1;
        color: #999;
        font-size: 0.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .fooddetails {
        min-height: 30.666667vw;
        padding: 2.666667vw 0 2.666667vw 2.666667vw;
        margin-bottom: 0.133333vw;
        display: flex;
      }
      .fooddetails img {
        width: 25.333333vw;
        height: 25.333333vw;
        flex: none;
        margin-right: 2.666667vw;
        border-radius: 0.533333vw;
      }
      .fooddetails-info {
        flex: 1;
        padding-bottom: 6.666667vw;
        padding-right: 4vw;
      }
      .fooddetails-info h4 {
        padding-right: 4vw;
        font-weight: 700;
        overflow: hidden;
        font-size: 1rem;
        white-space: nowrap;
        width: 40vw;
        text-overflow: ellipsis;
        color: #333;
      }
      .fooddetails-des {
        margin: 1.333333vw 0;
        font-size: 0.6rem;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 42.666667vw;
      }
      .fooddetails-sales {
        margin: 1.733333vw 0 !important;
        color: #999;
        font-size: 0.6rem;
        line-height: 1;
        min-height: 1em;
      }
      .fooddetails-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3.733333vw;
      }
      .fooddetails-price .price {
        font-size: 1rem;
        line-height: 4.266667vw;
        color: #ff5339;
        padding-bottom: 0.933333vw;
        display: flex;
        align-items: baseline;
      }
      
      .menu-wrapper .current {
        background-color: #fff !important;
        color: #333 !important;
      }
      </style>
      
      