<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <>中=不存在时，应该放语句；<>中=存在时，会放变量 -->
    <h1>Index of </h1>
    <ul>
        <% dirs.forEach(dir=>{ %>
        <!-- 最初的path就只会是/，需要在访问文件时拼上文件路径 -->
        <li><a href="<%= path %>/<%=dir%>"><%= dir %></a></li>
       <% }) %>
    </ul>
    
</body>
</html>