<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../Vue.js"></script>
</head>

<body>
    <div id="app">
        <table border="1">
            <tr>
                <th>姓名</th>
                <th v-for="(value,key,index) in subjects">{{value}}</th>
                <th>总分</th>
            </tr>
            <tr v-for="(value,key,index) in scores">
                <th>{{value.name}}</th>
                <th v-for="(value,key,index) in value.score">{{value}}</th>
                <th>{{getTotalScore(value.score)}}</th>
            </tr>
        </table>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            subjects: ["语文", "数学", "英语"],
            scores: [
                { name: "z3", score: [1, 4, 1] },
                { name: "l3", score: [4, 6, 3] },
                { name: "a3", score: [7, 2, 8] },
                { name: "e3", score: [8, 7, 5] },
            ]

        },
        methods:{
            // 计算每个同学的总分，因为一个同学的成绩是一个数组，计算一个数组总和可以想到reduce方法
            getTotalScore(arr){//在这里写一个方法，将数组传过来
            return  arr.reduce((prev,next)=> prev+next);//调用这样一个方法，得到一个返回值
            },
            // 计算所有同学的总分,想着将每个同学的总成绩也都遍历出来forEach，加起来
            getTotalScoreAll(){
                let total = 0;
                // 这里的this是谁调用就指向谁，那么指向了app,将app中的scores遍历
                this.scores.forEach(function(item){//使用foreach来遍历，得到每个同学总成绩（item）
                    total+=getTotalScore(item.score)//将每个同学的总成绩加起来
                })
                return total;
            },
            // 这是为了求取每一科成绩的平均分
            getAvg(index){
                // map方法：逐一处理数组中的每一项，并返回一个新数组
                let arr = this.scores.map((item)=>item.score[index])//这是为了处理每一科，得到每一科的索引
                return this.getTotalScore(arr)/this.scores.length;//求得每科平均分，总分除以人数
                // let arr = this.scores.map(function(item){
                //     return item.score[index] 
                // })
            },
            // 求取语文的平均分
            getywAvg(){
                return this.getAvg(0); 
            },
            // 求取数学的平均分
            getsxAvg(){
                return this.getAvg(1); 
            },
            // 求取英语的平均分
            getyyAvg(){
                return this.getAvg(2); 
            }


        }

    })
</script>

</html>