<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 最后将渲染好的数据给客户端，客户端得到的就是真实数据 -->
    <!-- 想要引用数据内容，必须这样写<%= 数据 %>，才可以渲染出来 -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
