<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="./Vue.js"></script>
</head>
<body>
    <div id="app">
        <table border="1">
            <tr>
                <th>姓名</th>
                <th v-for="(value,key,index) in subjects">{{value}}</th>
            </tr>
            <tr v-for="(value,key,index) in scores">
                <td>{{value.name}}</td>
                <td v-for="(value,key,index) in value.score">{{value}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            stus: ["z3", "l4", "w5"],
            //    obj:{name:"wangcai",age:100},
            //    num:10,
            subjects: ["语文", "数学", "英语"],
            scores: [
                { name: "z3", score: [4, 2, 3] },
                { name: "l4", score: [5, 2, 3] },
                { name: "w5", score: [6, 2, 3] },
            ]
        }
    })
</script>

</html>